.note-form {
    padding: 10px 80px;
    display: flex;

    .note-title {
        width: 300px;
        border: none;
        font-size: 18px;
        border: 1px solid rgb(201, 201, 201);
        border-radius: 10px;
    }

    .create-btn {
        width: 20px;
        height: 20px;
        font-size: 18px;
        background-color: rgb(201, 201, 201);
        color: white;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 30%;
        margin-right: 10px;
        margin-top: 2px;
    }

    .create-btn:hover {
        background-color: rgb(180, 180, 180);
      }
    
      .create-btn:active {
        background-color: rgb(161, 161, 161);
      }
}